body {
    background: #495050;
}

h1 {
    width: 45%;
    margin: 40px auto 50px;
    font-size: 60px;
    text-align: center;
    padding-right: 100px;
    color: #d1ffef;
}

#colorPicker {
    overflow: hidden;
    width: 45%;
    margin: 50px auto;
}